<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- Fox & Fancy -->
<script src="js/all-scripts-min.js"></script>

<!-- Super Scrollorama.js - http://johnpolacek.github.io/scrollorama/ -->
<!-- <script src="../bower_components/SuperScrollorama/js/jquery.superscrollorama.js"></script> -->



<!-- BROWSER UPDATE PROMPT - https://browser-update.org/ -->
<script> 
var $buoop = {c:2}; 
function $buo_f(){ 
 var e = document.createElement("script"); 
 e.src = "//browser-update.org/update.min.js"; 
 document.body.appendChild(e);
};
try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
catch(e){window.attachEvent("onload", $buo_f)}
</script> 